*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.main-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    min-height: 100vh;
}
.header {
    width: 100%;
}
.descuento {
    background-color: #1CD1B0;
}
.descuento p {
    padding: 5px 0px 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
    background-color: #00669F;
    padding-left: 10px;
}
/* estilos contenedor main */
.contenedor-principal {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px auto;
}
.contenedor-principal h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contenedor-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor-formulario input {
    width: 100%;
    border: 1px solid #000000
}
.contenedor-formulario input {
    padding: 15px;
    margin-bottom: 20px;
}
.contenedor-botones, .redireccion-formularios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enviar {
    background-color: #1CD1B0;
    width: 100%;
    border: none;
    padding: 15px 0px;
    border-radius: 25px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.redireccion-formularios {
    margin-top: 25px;
}
.redireccion-formularios a {
    text-decoration: none;
}
.redireccion-formularios p {
    margin-left: 10px;
}
/* estilos pie de pagina */
.pie-de-pagina {
    width: 100%;
    align-self: flex-end;
    background-color: #00669F;
    color: white;
    text-align: center;
}
.pie-de-pagina p {
    padding: 15px;
}